<nav>
    <div class="nav-wrapper green">
      <!-- <img src="/verdazo-front/src/assets/logo_verdazo.png" alt=""> -->
      <span class="brand-logo center">Verdazo</span>
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/mypreferences">Mis preferencias</a></li>
        <li><a routerLink="/teams">Mis Equipos</a></li>
        <li><a routerLink="/news">Noticias</a></li>
      </ul>
    </div>
</nav>

<h3>En desarrollo...</h3>