.container {
  max-width: 1000px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto;
  margin-top: 20px;
}

h3 {
  font-size: 28px; /* Ajusta el tamaño del título */
  margin-top: 30px; /* Ajusta el margen superior */
}

.fixture {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Ajusta el margen superior */
}

.fixture th,
.fixture td {
  padding: 15px; /* Ajusta el relleno */
  text-align: center;
  border: 1px solid #ccc;
}

.fixture th {
  font-weight: bold;
  font-size: 16px; /* Ajusta el tamaño de fuente para las cabeceras */
}

.versus {
  font-size: 24px; /* Ajusta el tamaño de fuente para el "vs" */
}

.fecha {
  font-size: 16px; /* Ajusta el tamaño de fuente para la fecha */
  color: #999;
}

.team-logo-small {
  width: 30px; /* Ajusta el tamaño reducido del logo del equipo */
  height: 30px;
  margin-right: 10px; /* Ajusta el espaciado entre el logo y el nombre del equipo */
}

.team-name {
  font-size: 20px; /* Ajusta el tamaño de la fuente del nombre del equipo */
}

.team-logo {
  width: 40px; /* Ajusta el tamaño de la imagen del logo del equipo */
  height: 40px;
  vertical-align: middle;

}

.team-text {
  font-size: 18px; /* Ajusta el tamaño de la fuente del texto del equipo */
  margin-left: 10px;
  vertical-align: middle;
}

.graph-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.league-info {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  
}

.league-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.statistics {
  font-family: Arial, sans-serif;
}

.statistic {
  font-size: 16px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para los bloques de gráficos */
.graph-block {
  margin-bottom: 20px;
  width: 300px;
  flex: 1 0 33%;
  padding: 10px;
  box-sizing: border-box;
  
}

.graph-block .graph-container {
  padding: 10px;
}

.graph-block h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.graph-block canvas {
  width: 100%;
  height: 200px; /* Ajusta la altura según tu preferencia */
}

/* Estilos generales */


.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}



.graph-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.container-avg {
  margin-bottom: 200px;
  text-align: center; /* Centra los elementos horizontalmente */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.avg-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}


/* Resto de estilos... */



