<body>
  <div  class="row container" >
    <form (ngSubmit)="login()" [formGroup]="miFormulario" class="col s12">
      <!--LOGO-->
      <div id="verdazo.logo">
        <img class="responsive-img z-depth-5" style= "border-width: 20px; border-radius: 60%; filter: contrast(5.0) saturate(1.0) brightness(0.9);" src="assets/logo-verdazo-sin.fondo.png">
      </div>
      <!--FORMULARIO-->
      <div id="login">
        <Fieldset>
          <div>
              <h2 class="yellow-text">INICIO DE SESIÓN</h2>
          </div>
          <div class="input-field col s12">
            <input formControlName="email" id="email" type="email" class="validate blue-grey-text text-lighten-5">
            <label class="yellow-text" for="email">Escribe tu correo electrónico</label>
            <span class="helper-text blue-grey-text text-lighten-5 " data-error="El correo no es válido" data-success="El correo es correcto"></span>
          </div>
          <div class="input-field col s12">
              <input formControlName="password" id="password" type="password" class="validate blue-grey-text text-lighten-5">
              <label class="yellow-text" for="password">Escribe tu contraseña</label>
              <span class="helper-text white-text" data-error="Error formato" data-success="Tiene buena pinta"></span>
          </div>

          <div class="input-field col s12">
            <button class="waves-effect waves-light btn yellow black-text">Iniciar Sesión</button>
          </div>

          <div class="input-field col s12 ">
            <a routerLink="/auth/register" class="white-text"><strong><u>Crea tu cuenta en Elverdazo.cl</u></strong></a>
          </div>
        </Fieldset>
      </div>
    </form>
  </div>
</body>