
<div class="container">
    <nav>
        <div class="nav-wrapper green">
          <!-- <img src="/verdazo-front/src/assets/logo_verdazo.png" alt=""> -->
          <span class="brand-logo center">Verdazo</span>
          <ul id="nav-mobile" class="center hide-on-med-and-down">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/mypreferences">Mis preferencias</a></li>
            <li><a routerLink="/teams">Mis equipos</a></li>
            <li><a routerLink="/news">Noticias</a></li>
          </ul>
        </div>
    </nav>


    <ul>
        <li *ngFor="let id_team of id_teams">
          <h6>ID Equipo: {{id_team}} </h6>
          <button class="btn waves-effect waves-light green" (click)="getStatsByTeamId(id_team)" >Ver estadisticas</button>
        </li>
    </ul>  
      <h4>Details:</h4>
    <div *ngFor="let stat of stats">
      <h5>Value:</h5>
      <pre>{{stat.type.name}}</pre>
      <pre>{{ stat.value | json }}</pre>
    </div>
    <hr>
    
    <button class="btn waves-effect waves-light green" (click)="grafico()" >Ver grafico</button>
    <canvas id="myChart"></canvas>
</div>

