
<div class="container">
    <!-- <nav>
        <div class="nav-wrapper green">
          <span class="brand-logo center">Verdazo</span>
          <ul id="nav-mobile" class="center hide-on-med-and-down">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/mypreferences">Mis preferencias</a></li>
            <li><a routerLink="/teams">Mis equipos</a></li>
            <li><a routerLink="/news">Noticias</a></li>
          </ul>
        </div>
    </nav> -->

    <h2 class="title">Mis Equipos</h2>
    <div class="team-container" >
      <div class="team-card" *ngFor="let equipo of equiposFavoritos">
        <div class="team-image" [style.background-image]="'url(' + equipo.image_path + ')'"></div>
        <div class="team-content">
          <h3 class="team-name">{{ equipo.name }}</h3>
          <button class="team-button" (click)="getStatsByTeamId(equipo.id)">Ver estadísticas</button> 
          <button class="team-button2"  (click)="deleteTeam(equipo.id)">Eliminar</button>
        </div>
      </div>
    </div>
    
    
    <!-- <mat-card *ngFor="let equipo of equiposFavoritos">
      <img mat-card-image [src]="equipo.image_path" alt="Imagen del elemento">
      <mat-card-content>
        <h3 mat-card-title>{{ equipo.name }}</h3>
        <button class="btn waves-effect waves-light green" (click)="getStatsByTeamId(equipo.id)" >Ver estadisticas</button>
      </mat-card-content>
    </mat-card> -->


    <!-- <mat-grid-list cols="auto" rowHeight="1:1">
      <mat-grid-tile *ngFor="let equipo of equiposFavoritos">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar>
              <img [src]="equipo.image_path" alt="Escudo del equipo">
            </div>
            <mat-card-title>{{ equipo.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list> -->

    <!-- <div *ngFor="let equipo of equiposFavoritos">
      <h2>{{equipo.name}}</h2>
      <img [src]="equipo.image_path" alt="Escudo"> <br>
      <button class="btn waves-effect waves-light green" (click)="getStatsByTeamId(equipo.id)" >Ver estadisticas</button>
    </div> -->
    <!-- <button class="team-button stats">Agregar Equipos</button> -->
</div>

