


  

  <!-- <nav>
    <div class="nav-wrapper green">
     
      <span class="brand-logo center">Verdazo</span>
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/mypreferences">Mis preferencias</a></li>
        <li><a routerLink="/teams">Mis equipos</a></li>
        <li><a routerLink="/news">Noticias</a></li>
      </ul>

    </div>
  </nav> -->


  <!-- <nav class="nav-wrapper green">
    <div class="brand-logo center">Verdazo</div>
    <ul class="left hide-on-med-and-down">
      <li><a href="/home">Home</a></li>
      <li class="dropdown">
        <a routerLink="/mypreferences" class="dropdown-toggle">Mi perfil <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="submenu-item"><a routerLink="/mypreferences">Mis preferencias</a></li>
          <li><a routerLink="/teams">Mis equipos</a></li>
        </ul>
      </li>
      <li><a routerLink="/teams" class="wider-link">Mis equipos</a></li>
      <li><a href="/news">Noticias</a></li>
    </ul>
  </nav> -->
  
  

  
  

  <!-- <table>
        <thead>
          <tr>
              <th>Equipos</th>
              <th>Corners</th>
              <th>Posesion de balón</th>
              <th>Tarjetas amarillas</th>
              <th>Minuto goles concedidos</th>
              <th>Goles</th>
              <th>Porteria en 0</th>
              <th>Empates</th>
              <th>Derrotas</th>
              <th>Goles concedidos</th>
              <th>Ganados</th>
              <th>R. M. Goles anotados </th>
              <th>Sin Anotar</th>
              <th>Numero goles</th>
              <th>Ambos equipos anotan</th>
              <th>Actualizar</th>
              <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let preference of preferences">
            <td> {{preference.equipos}}</td>
            <td>{{preference.corners}}</td>
            <td>{{preference.ball_possession}}</td>
            <td>{{preference.yellow_cards}}</td>
            <td>{{preference.goals_conceded_minutes}}</td>
            <td>{{preference.goals}}</td>
            <td>{{preference.cleansheets}}</td>
            <td>{{preference.draw}}</td>
            <td>{{preference.lost}}</td>
            <td>{{preference.goals_conceded}}</td>
            <td>{{preference.win}}</td>
            <td>{{preference.scoring_goal_minutes}}</td>
            <td>{{preference.failed_to_score}}</td>
            <td>{{preference.number_of_goals}}</td>
            <td>{{preference.both_teams_to_score}}</td>

            <td>
                <button class="btn waves-effect waves-light amber darken-1" > Actualizar</button>
            </td>
            <td>
                <button (click)="delete(preference._id)" class="btn waves-effect waves-light red" > Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="btn waves-effect waves-light blue" routerLink="/mypreferences/create-preference" > Crear preferencia</button>

      <hr> -->

      <!-- <ul>
        <li *ngFor="let preference of preferences">
          <ul>
            <li *ngFor="let value of getPreferenceValues(preference)">
              <ng-container *ngIf="value !== preference.equipos && value !== preference.creator && value !== preference._id && value !== preference.__v">
                <a (click)="updatePreference(value)">{{ value }}</a>
              </ng-container>
            </li>
          </ul>
        </li>
      </ul> -->
      
      
    <div class="container">
      <h1>Mis estadisticas favoritas</h1>
      <div class="mt-4">
        <div class="card">
          <div *ngFor="let item of teamStatsByUser">
            <div *ngFor="let preference of preferences">
              <div class="stat-card">
                <div class="stat-avatar">
                  <span [ngClass]="getIconClass(item.type_id)" class="team-stat-icon"></span>
                </div>
                <div class="stat-title">{{translations[item.type.name]}}</div>
                <button class="team-button2" (click)="updatePreference(item.type_id)">Quitar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- <ul>
        <li *ngFor="let preference of filteredPreferences">
          <ul>
            <li>
              {{preference.attribute}}: {{preference.value}}
            </li>
          </ul>
        </li>
      </ul> -->


      <!-- <div class="mt-4">
        <div class="card">
          <div *ngFor="let item of teamStatsByUser">
            <div *ngFor="let preference of preferences">
              <div *ngFor="let value of getPreferenceValues(preference)" class="stat-card">
                <ng-container *ngIf="value !== preference.equipos && value !== preference.creator && value !== preference._id">
                  {{ value }}
                </ng-container>
                <div class="stat-avatar">
                  <span [ngClass]="getIconClass(item.type_id)" class="team-stat-icon"></span>
                </div>
                <div class="stat-title">{{translations[item.type.name]}}</div>
                <button class="team-button2" (click)="updatePreference(item.type_id)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      



