<nav>
    <div class="nav-wrapper green">
      <!-- <img src="/verdazo-front/src/assets/logo_verdazo.png" alt=""> -->
      <span class="brand-logo center">Verdazo</span>
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/mypreferences">Mis preferencias</a></li>
        <li><a routerLink="/teams">Mis equipos</a></li>
        <li><a routerLink="/news">Noticias</a></li>
        <!-- <li><button (click)="logout()" class="btn waves-effect waves-light red logout-btn">Log Out</button> -->
      </ul>
    </div>
</nav>

/* */